* {
    margin: 0px;
    padding: 0px;
}

/* margin es el margen exterior. padding, margen interior */
.barraNavegacion {
    background-color: black;
    height: 20%;
    background-image: url(terror.jpg);
    background-size: cover;
}

.inicio{
    font-family: 'Metal Mania', cursive;
    font-weight: bold;
    font-size: 30px; 
   
}

.cuerpo {
    background-color: rgb(29, 75, 29);
    width: 100%;
    height: 75%;
    
}

.piePag {
    background-color: rgb(27, 59, 27);
    min-height: 10%;
    background-image: url(terror.jpg);
    background-size: cover;

}
.piePagFicha{
   background-color: rgb(177, 221, 177,0.705);
    min-height: 5%;
    background-image: url(imgs/sangre.png);
}
.indiceIzq {
    float: left;
    min-height: 100%;
    width: 20%;
    background-color: rgb(177, 221, 177,0.705);
    background-image: url(imgs/sangre.png);
   
}

.datosPag {
    float: left;
    min-height: 100%;
    width: 60%;
    background-color: rgba(177, 221, 177, 0.705);
   
}
.imagen{
    width: 20%;
    overflow: auto;
    display: block;
}
.indicederecho {
    float: left;
   min-height: 100%;
    width: 20%;
    background-color: rgb(177, 221, 177,0.705);
    background-image: url(imgs/sangre.png);
    background-position: left;

}

.contenedor {
    background-color: black;
    min-height: 100%;
    width: 100%;
    overflow: scroll;
}

.individuales {
    font-family: 'Metal Mania', cursive;
    border: 2px solid darkred;
    background-color:rgba(79, 112, 79, 0.63) ;
    border-radius: 2%;
    padding: 5px;
    margin: 20px 8px;
    position: relative;
}


.votos {
    position: absolute;
    right: 10%;
    top: 3%;

}

.titulo {
    font-weight: bold;
    
}
.tituloFicha{
    font-size: 300%;
    text-align: center;
    font-weight: bold;
}
.imagenFicha{
    text-align: center;
}
.inicio:link, .inicio:visited {
    text-decoration: none; 
     color: rgb(15, 119, 15);
}


.inicio:hover {
    color: darkred;
}

.inicio:active {
    color: red
}
.fichaGrande:link, .fichaGrande:visited {
  
    color: darkred;
    position: absolute;
    right: 10%;
}
.fichaGrande:hover, .fichaGrande:active {
    color: red
}
.contenedorFicha{
    width: 100%;
    height: 100%;
    background-image: url(terror.jpg);
    background-size: cover;
}