* {
    margin: 0px;
    padding: 0px;
}

/* margin es el margen exterior. padding, margen interior */
.barraNavegacion {
    background-color: rgb(255, 209, 240);
    height: 20%;
    padding: 5px;
    font-family: 'Sevillana', cursive;
    font-weight: bold;
    font-size: 30px;
    background-image: url(confeti.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.cuerpo {
    background-color: rgb(255, 153, 209);
    height: 70%;
}

.piePag {
    background-color: rgb(255, 209, 240);
    height: 10%;
    background-image: url(confeti.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.indiceIzq {
    float: left;
    height: 100%;
    width: 20%;
    background-color: rgb(255, 153, 209);

}

.datosPag {
    float: left;
    height: 100%;
    width: 60%;
    background-color: white;
}

.indicederecho {
    float: left;
    height: 100%;
    width: 20%;
    background-color: rgb(255, 153, 209);

}

.contenedor {
    background-color: black;
    height: 100%;
    width: 100%;
}

.individuales {
    font-family: 'Sevillana', cursive;
    border: 2px solid rgb(248, 0, 145);
    padding: 5px;
    margin: 20px 8px;
    position: relative;
}

.votos {
    position: absolute;
    right: 15%;
    bottom: 3%;

}

.titulo {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(255, 0, 255);
}

a:active {
    color: rgb(172, 0, 157)
}