* {
    margin: 0px;
    padding: 0px;
}

/* margin es el margen exterior. padding, margen interior */
.barraNavegacion {
    background-color: black;
    height: 20%;
    padding: 5px;
    font-family: 'Metal Mania', cursive;
    font-weight: bold;
    font-size: 30px;
    background-image: url(terror.jpg);
    background-size: cover;




}

.cuerpo {
    background-color: rgb(29, 75, 29);
    height: 70%;
    width: 100%;
    
}

.piePag {
    background-color: rgb(27, 59, 27);
    min-height: 10%;
    background-image: url(terror.jpg);
    background-size: cover;

}

.indiceIzq {
    float: left;
    height: 100%;
    width: 15%;
    background-color: rgb(177, 221, 177,0.705)
   
}

.datosPag {
    float: left;
    min-height: 100%;
    width: 70%;
    background-color: rgba(177, 221, 177, 0.705);
   
}

.indicederecho {
    float: left;
    height: 100%;
    width: 15%;
    background-color: rgb(177, 221, 177,0.705);

}

.contenedor {
    background-color: black;
    min-height: 100%;
    width: 100%;
    overflow: scroll;
}

.individuales {
    font-family: 'Metal Mania', cursive;
    border: 2px solid darkred;
    padding: 5px;
    margin: 20px 8px;
    position: relative;
}

.votos {
    position: absolute;
    right: 15%;
    bottom: 3%;

}

.titulo {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(15, 119, 15);
}

a:visited {
    color: rgb(15, 119, 15);
}

a:hover {
    color: darkred;
}

a:active {
    color: red
}